.AppRoot {
  display: grid;
  grid-template-rows: 4rem auto 3rem;
  min-height: 100vh;

  #AppHeader {
    padding: 1rem;
    display: flex;
    align-items: center;

    .logo {
      width: 2.5rem;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        transition: opacity 200ms ease-out;
      }

      #logo_colored {
        top: -0.2rem;
        left: 0.2rem;
        position: absolute;
        opacity: 0;
      }

      &:hover {
        #logo {
          opacity: 0;
        }

        #logo_colored {
          opacity: 1;
        }
      }
    }

    h1#main-title {
      margin-left: 1rem;
      font-size: 1.7rem;
      line-height: 90%;

      #creator {
        font-weight: 500;
      }
    }
  }

  #upload-link {
    margin-left: auto;
    margin-right: 2vw;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    text-align: center;
    border: 1px solid #000;
    font-weight: 500;

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  h3 {
    opacity: 0.5;
    font-weight: 500;
  }
}

.Home {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: space-around;
  align-items: center;
  position: relative;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }
}
