.UploadPage {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
  padding: 2rem;

  h1 {
    font-size: 3rem;
  }

  .get-started {
    margin: 3rem auto;
    font-weight: 320;
    line-height: 200%;

    button#file-upload {
      margin-bottom: 1.4rem;
      font-size: 1rem;
      font-family: inherit;
    }

    .url-input {
      width: 400px;
      margin: auto;
      text-align: left;
      margin-top: 1rem;

      label {
        font-size: 1.5rem;
        font-weight: 500;
      }

      input {
        width: 100%;
        font-size: 0.9rem;
        font-family: DM Mono, monospace;

        &::placeholder {
          font-weight: 300;
        }
      }
    }
  }
}
